.containerjob {
    width:40vw;
    height:40vh;
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color:grey;
    justify-content:center;
    align-items:center;
    margin-left:45px;
    border-radius:20px;
    cursor:pointer;
}
.containerjob:hover {
    opacity:80%;
}
.applybutton {
    width:200px;
    height:50px;
    background-color:yellow;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:20px;
}
.applybutton:hover {
    transform:scale(1.05)
}
