.centerbarcontainer {
    height:80vh;
    background-color:green;
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    align-items:center;
    gap:50px;
    margin-top:65px;
    width:100vw;
}
.centerbarcontainer .Centertitle {
    font-size:30px;
    font-style:italic;
    font-weight:bold;
    color:white;
}
.sides {
    width:90vw;
}
.centerbarcontainer .Centerbody {
    font-size:30px;
}
.centerbarcontainer .Centerbody img{
   width:100%; 
   height:40vh;
}
.centerbarcontainer .Centerbody p{
    color:yellow;
    word-spacing:10px;
}
.centerbarapply {
    display:flex;
    gap:30px;
}
.applyafrica {
background-color:grey;
height:40vh;
width:20vw;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
font-weight:bold;
border-radius:30px;
}
.applyinternational {
background-color:grey;
height:40vh;
width:20vw;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
font-weight:bold;
border-radius:30px;
}
.apply {
    background-color:yellow;
    height:8vh;
    width:15vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:5px;
    border-radius:20px;
    cursor:pointer;
    font-weight:lighter;
}
.applyafrica:hover {
opacity:50%;

}
.applyinternational:hover {
opacity:50%;

}
.apply:hover {
    transform:scale(1.1);
}
