.containerjob {
    width:40vw;
    height:40vh;
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color:grey;
    justify-content:center;
    align-items:center;
    margin-left:45px;
    border-radius:20px;
    cursor:pointer;
}
.containerjob:hover {
    transform:scale(1.05);
    opacity:60%;
}
.unknown {
    display:flex;
    flex-wrap:wrap;
    gap:100px;
}
.applycontainer {
    display:flex;
    flex-direction:column;
    gap:40px;
}
.titlecontainer {
    font-size:50px;
    margin-left:400px;
}
